<%= form_for(@user_shipment) do |f| %>
  <% if @user_shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_shipment.errors.count, "error") %> prohibited this user_shipment from being saved:</h2>

      <ul>
      <% @user_shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :shipment_id %><br>
    <%= f.text_field :shipment_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
