<p id="notice"><%= notice %></p>

<h1>Listing User Shipments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Shipment</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_shipments.each do |user_shipment| %>
      <tr>
        <td><%= user_shipment.user %></td>
        <td><%= user_shipment.shipment %></td>
        <td><%= user_shipment.role %></td>
        <td><%= link_to 'Show', user_shipment %></td>
        <td><%= link_to 'Edit', edit_user_shipment_path(user_shipment) %></td>
        <td><%= link_to 'Destroy', user_shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User shipment', new_user_shipment_path %>
