<p>
  <strong>Quote Amount:</strong>
  <%= @offer.amount %>
  <br>
  <% if @offer.accepted == true %>
  	<%= 'Your quote was accepted' %>
  <% else %>
  	<%= 'Your quote is being reviewed' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
