<br />
<div class="row">
  <div class="col-md-4 col-md-offset-0">
    <%= form_for(@shipment) do |f| %>
      <% if @shipment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this lane from being saved:</h2>

          <ul>
          <% @shipment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.label :origin %><br>
        <%= f.text_field :origin, class: 'form-control' %>

        <%= f.label :destination %><br>
        <%= f.text_field :destination, class: 'form-control' %>

        <%= f.label :mode_of_transportation %><br>
        <%= f.select :mode_of_transportation, ['Select One', 'Full load', 'Less than full load'], class: 'form-control' %><br />

        <%= f.label :equipment_type %><br />
        <%= f.select :equipment_type, ['Select One', 'Semi / Tractor-trailer', 'Van'] %><br><br />

        <%= f.label :minimum_commitment %>
        <%#= f.number_field :minimum_commitment %>
        <%= f.select :minimum_commitment, (1..100) %>
        <strong>no. of trucks per day</strong>

        <%= f.label :maximum_commitment %>
        <%#= f.number_field :minimum_commitment %>
        <%= f.select :maximum_commitment, (1..100) %>
        <strong>no. of trucks per day</strong><br><br />

        <%= f.label :cost %><strong>in US$ - flat-rate</strong><br>
        <%= f.number_field :cost, class: 'form-control' %>
<!--
        <h4>Drop down box to show the below links</h4>
          <%#= render 'choose_carriers', collection: @carriers %>
        <br>
-->
        <%= f.submit "Create new lane", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
