<% if current_user %>

<% provide(:title, current_user.company_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.company_name %>
      </h1>
    </section>
  </aside>
</div>
<% end %>

<h1>List of Shipments</h1>

<table class="table table-striped">
  <thead class="table-header">
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Flat-rate</th>
    <% if carrier? %>
      <th>Company</th>
    <% end %>
      <th>Details</th>
    <% if carrier? %>
      <th>Offer Submitted?</th>
    <% end %>
    <% if shipper? %>
      <th>Update</th>
      <th>Delete</th>
    <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="shipment-table">
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.origin %></td>
        <td><%= shipment.destination %></td>
        <td>$<%= shipment.formatted_price %></td>
        <% if current_user.carrier? %>
          <td><%= shipment.company_name %></td>
        <% end %>
        <td><%= link_to 'View', shipment%></td>
<!-- START: Different link text for carriers,
        depending on if they've made an offer to that shipment -->
        <% if carrier? %>
          <% if shipment.offers.include? current_user %>
            <td>Yes</td>
          <% else %>
            <td>No</td>
          <% end %>
        <% end %>
<!--                      END                      -->
        <% if current_user.shipper? %>
          <td><%= link_to 'Edit', edit_shipment_path(shipment)%></td>
          <td><%= link_to 'Delete', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.shipper? %>
  <div class="create-shipment"><%= link_to 'Create a new shipment', new_shipment_path %></div>
<% end %>
