<p>
  <strong>Origin:</strong>
  <%= @shipment.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @shipment.destination %>
</p>

<p>
  <strong>Mode of transportation:</strong>
  <%= @shipment.mode_of_transportation %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @shipment.equipment_type %>
</p>

<p>
  <strong>Minimum commitment:</strong>
  <%= @shipment.minimum_commitment %>
</p>

<p>
  <strong>Maximum commitment:</strong>
  <%= @shipment.maximum_commitment %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @shipment.cost %>
</p>

<p>
  <strong>User:</strong>
  <%= @shipment.user.email %>
</p>

<h1>Make an offer</h1>
<%= render "offers/form" %>

<h1>Chris is working here please don't delete</h1>
<h1>Highest Offer</h1>
<%#=  %>
<h1>Lowest Offer</h1>
<%#=  %>
<h1>You have left the construction zone. Thank you.</h1>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
