<p>
  <strong>Origin:</strong>
  <%= @shipment.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @shipment.destination %>
</p>

<p>
  <strong>Mode of transportation:</strong>
  <%= @shipment.mode_of_transportation %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @shipment.equipment_type %>
</p>

<p>
  <strong>Minimum commitment:</strong>
  <%= @shipment.minimum_commitment %>
</p>

<p>
  <strong>Maximum commitment:</strong>
  <%= @shipment.maximum_commitment %>
</p>

<p>
  <strong>Cost:</strong>
  $<%= @shipment.formatted_price %>
</p>

<<<<<<< HEAD
=======
<% if current_user.carrier? %>
<p>
  <strong>Shipper:</strong>
  <%= @shipment.company_name %>
</p>
<% end %>

>>>>>>> 30a78dae247887977bdaf71fb59e9af43b9009c7
<h1>Highest Offer</h1>
  <%= render "offers/form" %>
  <%= Offer.where(shipment_id: @shipment.id).maximum("amount") %>
<h1>Lowest Offer</h1>
  <%= Offer.where(shipment_id: @shipment.id).minimum("amount") %>

<% if current_user.shipper? %>
  <%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<% end %>

<%= link_to 'Back', shipments_path %>
