<p>
  <strong>Origin:</strong>
  <%= @shipment.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @shipment.destination %>
</p>

<p>
  <strong>Mode of transportation:</strong>
  <%= @shipment.mode_of_transportation %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @shipment.equipment_type %>
</p>

<p>
  <strong>Minimum commitment:</strong>
  <%= @shipment.minimum_commitment %>
</p>

<p>
  <strong>Maximum commitment:</strong>
  <%= @shipment.maximum_commitment %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @shipment.cost %>
</p>

<p>
  <strong>User:</strong>
  <%= @shipment.user.email %>
</p>


<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
<%= link_to 'Offer', offers_path %>